doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title
      title Dive 'n Dash
    meta(name='description', content='Dive n Dash - The insane text message based pub crawl game.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    script(src="//use.typekit.net/nfo3tyk.js")
    script.
      try{Typekit.load();}catch(e){}
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/modernizr/modernizr.js')
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load("6c9ZWUXrC0OdoFBgFERQUfAlE9Qw3Arf");
      analytics.page()
      }}();
    script(src='https://cdn.firebase.com/js/client/2.0.4/firebase.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    block scripts
  body
    //if lt IE 8
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // Add your site or application content here
    block content 
    script(src='js/main.js')
